header {
    background-color: $red;
    color: $white;
    font-size: 20px;
    width: 100%;

    a {
        color: $pink;
        transition: 0.2s;
        padding: 5px 0;

        &.active {
            color: $white;
            font-size: 24px;
            font-weight: 700;
        }

        &:hover {
            transform: translateY(-5px);
        }
    }

    .header-links {
        gap: 10px;
    }

    .logged-header {
        gap: 10px;

        .logged-name {
            direction: rtl;

            span {
                color: $yellow;
            }
        }

        .logout {
            cursor: pointer;
            transition: 0.2s;
            padding: 5px 0;

            &:hover {
                transform: translateY(-5px);
            }
        }
    }
}