* {
    box-sizing: border-box;
}

html {
    transition: 0.2s;
    scroll-behavior: smooth;
    font-family: Rubik;
}

body {
    margin: 0;
    padding: 0;
    background-color: #D9A9C8;

    ::selection {
        color: $red;
        background: $white;
    }
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {}

/* Handle */
::-webkit-scrollbar-thumb {
    // border-radius: 5px;
    // background: #555;
}

.logo {
    font-size: 40px;
    font-family: JH;
    unicode-bidi: bidi-override;
    direction: rtl;

    &::first-letter {
        color: $yellow;
    }
}

button {
    background-color: $red;
    border: none;
    width: fit-content;
    font-size: 20px;
    font-weight: 700;
    color: $white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        background-color: $red;
        color: $yellow;
    }

    &:active {
        box-shadow: inset 20px 20px 60px #a23754,
            inset -20px -20px 60px #dc4b72;
    }
}

input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 20px;
    border: $red 2px solid;
    color: $red;
    font-weight: 700;
    font-size: 16px;
    font-family: Rubik;
    text-align: right;

    &:focus {
        border: $yellow 2px solid;
        // background-color: $pink;
        outline: none;
    }

    &::selection {
        background-color: $red;
        color: $white;
    }

    &::placeholder {
    }
}