* {
    box-sizing: border-box;
}

html {
    transition: 0.2s;
    scroll-behavior: smooth;
    font-family: Rubik;
    height: 100vh;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: #D9A9C8;

    ::selection {
        color: $red;
        background: $white;
    }
}

a {
    text-decoration: none;

    &:visited {
        color: inherit;
    }
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {}

/* Handle */
::-webkit-scrollbar-thumb {
    // border-radius: 5px;
    // background: #555;
}

.logo {
    font-size: 40px;
    font-family: JH;
    unicode-bidi: bidi-override;
    direction: rtl;

    &::first-letter {
        color: $yellow;
    }
}

button {
    background-color: $red;
    border: none;
    width: fit-content;
    font-size: 20px;
    font-weight: 700;
    color: $white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
        background-color: $red;
        color: $yellow;
    }

    &:active {
        box-shadow: inset 20px 20px 60px #a23754,
            inset -20px -20px 60px #dc4b72;
    }
}

input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 20px;
    border: $red 2px solid;
    color: $red;
    font-weight: 700;
    font-size: 16px;
    font-family: Rubik;
    text-align: right;


    &:focus {
        border: $yellow 2px solid;
        // background-color: $pink;
        outline: none;
    }

    &::selection {
        background-color: $red;
        color: $white;
    }

    &::placeholder {}
}

.input-wrapper {
    transition: 0.3s;

    &.error {
        position: relative;
        animation: shake 0.5s 1 ease;
        -webkit-animation: shake 0.5s 1 ease;

        input {
            background-color: $white;

            &::placeholder {
                color: $red;
            }
        }

        &:after {
            position: absolute;
            right: 20px;
            bottom: -15px;
            font-size: 14px;
            color: $red;
            font-weight: 700;
        }

        &.email:after {
            content: "אימייל קיים במערכת";
        }

        &.email-404:after {
            content: "אימייל לא קיים במערכת";
        }

        &.password-aut:after {
            content: "הסיסמאות אינן תואמות";
        }

        &.password:after {
            content: "אותיות ומספרים בלבד";
        }
        &.bad-password:after {
            content: "סיסמא שגויה";
        }

        &.password-short:after {
            content: "מינימום 6 ספרות";
        }

        &.required:after {
            content: "שדה חובה";
        }
    }

    input {
        direction: rtl;

        &:disabled {
            background-color: $pink;
            border: 1px solid $pink;

            &::placeholder {
                color: $red;
            }
        }
    }

    @keyframes shake {
        20% {
            transform: translateX(-10px);
        }

        40% {
            transform: translateX(10px);
        }

        60% {
            transform: translateX(-5px);
        }

        80% {
            transform: translateX(5px);
        }

        100% {
            transform: translateX(0);
        }
    }

    @-webkit-keyframes shake {
        20% {
            -webkit-transform: translateX(-10px);
        }

        40% {
            -webkit-transform: translateX(10px);
        }

        60% {
            -webkit-transform: translateX(-5px);
        }

        80% {
            -webkit-transform: translateX(5px);
        }

        100% {
            -webkit-transform: translateX(0);
        }
    }
}

.loader {
    font-size: 30px;
    display: flex;
    gap: 2px;
    height: 20px;
    align-items: center;
    transition: 0.2s;

    * {
        height: 10px;
        width: 5px;
        background-color: $white;
        border-radius: 20px;
    }

    .loader1 {
        animation: loader1 0.5s 0.2s infinite alternate-reverse ease-in-out;
    }

    .loader2 {
        animation: loader2 0.5s infinite alternate-reverse ease-in-out;

    }

    .loader3 {
        animation: loader1 0.5s 0.3s infinite alternate-reverse ease-in-out;

    }
}

@keyframes loader1 {
    to {
        height: 100%;
    }
}

@keyframes loader2 {
    to {
        height: 100%;
    }
}

@keyframes loader3 {}